{% extends "admin/layout_admin.html" %}

{% block admin_content %}

  <div class="has-text-left">
    <a href="/admin/catalog" class="button is-light">
      <span class="icon is-small">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span>Back</span>
    </a>
  </div>
  <div class="mb-6 columns is-centered">
    <div class="column is-three-quarters">

      <h1 class="mb-6 title is-5 has-text-grey-darker">Edit Layer "{{ layer.alias }}"</h1>

      <form action="/admin/catalog/layers/update" method="post">

        <input type="hidden" name="id" id="id" value="{{ layer.id }}">

        <!-- geometry -->
        <div class="field">
          <label class="label" for="geometry">Geometry</label>
          <div class="control">
            <div class="select">
              <select name="geometry" id="geometry">
                <option value="points" {% if layer.geometry == "points" %}selected{% endif %}>Points</option>
                <option value="lines" {% if layer.geometry == "lines" %}selected{% endif %}>Lines</option>
                <option value="polygons" {% if layer.geometry == "polygons" %}selected{% endif %}>Polygons</option>
              </select>
            </div>
          </div>
        </div>

        <!-- name -->
        <div class="field">
          <label class="label" for="name">Name</label>
          <div class="control">
            <input class="input" type="text" name="name" id="name" value="{{ layer.name }}" required>
          </div>
        </div>

        <!-- alias -->
        <div class="field">
          <label class="label" for="alias">Alias</label>
          <div class="control">
            <input class="input" type="text" name="alias" id="alias" value="{{ layer.alias }}" required>
          </div>
        </div>

        <!-- schema -->
        <div class="field">
          <label class="label" for="schema">Schema</label>
          <div class="control">
            <div class="select"
              hx-get="/admin/database/schemas"
              hx-swap="innerHTML"
              hx-trigger="load, change"
              hx-vals='{"schema_selected": "{{ layer.schema }}", "table_selected": "{{ layer.table }}"}'
            >
            </div>
          </div>
        </div>

        <!-- table -->
        <div class="field">
          <label class="label" for="table">Table</label>
          <div class="control">
            <div class="select">
              <select name="table" id="table"
                hx-get="/admin/database/fields"
                hx-target="#fields"
                hx-trigger="change, load delay:3s"
                hx-include="[name='schema']"
                hx-vals='{"fields_selected": "{{ layer.fields.join(",") }}"}'
                required
              >
              </select>
            </div>
          </div>
        </div>

        <!-- fields -->
        <div class="field">
          <label class="label" for="fields">Fields</label>
          <div class="control">
            <div class="select is-multiple">
              <select name="fields" id="fields" multiple size="8" required>
              </select>
            </div>
          </div>
        </div>

        <!-- geom -->
        <div class="field">
          <label class="label" for="geom">Geom</label>
          <div class="control">
            <input class="input" type="text" name="geom" id="geom" value="{{ layer.get_geom() }}" required>
          </div>
        </div>

        <!-- srid -->
        <div class="field">
          <label class="label" for="srid">SRID</label>
          <div class="control">
            <input class="input" type="text" name="srid" id="srid" value="{{ layer.get_srid() }}" required>
          </div>
        </div>

        <!-- sql_mode -->
        <div class="field">
          <label class="label" for="sql_mode">SQL Mode</label>
          <div class="control">
            <div class="select">
              <select name="sql_mode" id="sql_mode">
                <option value="CTE" {% if layer.get_sql_mode() == "CTE" %}selected{% endif %}>Common Table Expression</option>
                <option value="SQ" {% if layer.get_sql_mode() == "SQ" %}selected{% endif %}>Subquery</option>
              </select>
            </div>
          </div>
        </div>

        <!-- filter -->
        <div class="field">
          <label class="label" for="filter">Filter</label>
          <div class="control">
            <textarea class="textarea" name="filter" id="filter" rows="3">{{ layer.get_filter() }}</textarea>
          </div>
        </div>

        <!-- buffer -->
        <div class="field">
          <label class="label" for="buffer">Buffer</label>
          <div class="control">
            <input class="input" type="buffer" name="buffer" id="buffer" value="{{ layer.get_buffer() }}" required>
          </div>
        </div>

        <!-- extent -->
        <div class="field">
          <label class="label" for="extent">Extent</label>
          <div class="control">
            <input class="input" type="text" name="extent" id="extent" value="{{ layer.get_extent() }}" required>
          </div>
        </div>

        <!-- zmin -->
        <div class="field">
          <label class="label" for="zmin">ZMin</label>
          <div class="control">
            <input class="input" type="text" name="zmin" id="zmin" value="{{ layer.get_zmin() }}" required>
          </div>
        </div>

        <!-- zmax -->
        <div class="field">
          <label class="label" for="zmin">ZMax</label>
          <div class="control">
            <input class="input" type="text" name="zmax" id="zmax" value="{{ layer.get_zmax() }}" required>
          </div>
        </div>

        <!-- zmax_do_not_simplify -->
        <div class="field">
          <label class="label" for="zmax_do_not_simplify">ZMax do not simplify</label>
          <div class="control">
            <input class="input" type="text" name="zmax_do_not_simplify" id="zmax_do_not_simplify" value="{{ layer.get_zmax_do_not_simplify() }}" required>
          </div>
        </div>

        <!-- buffer_do_not_simplify -->
        <div class="field">
          <label class="label" for="buffer_do_not_simplify">Buffer do not simplify</label>
          <div class="control">
            <input class="input" type="text" name="buffer_do_not_simplify" id="buffer_do_not_simplify" value="{{ layer.get_buffer_do_not_simplify() }}" required>
          </div>
        </div>

        <!-- extent_do_not_simplify -->
        <div class="field">
          <label class="label" for="extent_do_not_simplify">Extent do not simplify</label>
          <div class="control">
            <input class="input" type="text" name="extent_do_not_simplify" id="extent_do_not_simplify" value="{{ layer.get_extent_do_not_simplify() }}" required>
          </div>
        </div>

        <!-- clip_geom -->
        <div class="field">
          <label class="label" for="clip_geom">Clip Geom</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="clip_geom" id="clip_geom_true" value="true" {% if layer.get_clip_geom() %}checked{% endif %}>
              True
            </label>
            <label class="radio">
              <input type="radio" name="clip_geom" id="clip_geom_false" value="false" {% if !layer.get_clip_geom() %}checked{% endif %}>
              False
            </label>
          </div>
        </div>

        <!-- delete_cache_on_start -->
        <div class="field">
          <label class="label" for="delete_cache_on_start">Delete cache on start</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="delete_cache_on_start" id="delete_cache_on_start_true" value="true" {% if layer.get_delete_cache_on_start() %}checked{% endif %}>
              True
            </label>
            <label class="radio">
              <input type="radio" name="delete_cache_on_start" id="delete_cache_on_start_false" value="false" {% if !layer.get_delete_cache_on_start() %}checked{% endif %}>
              False
            </label>
          </div>
          <p class="help is-info">Delete cache on server start</p>
        </div>

        <!-- max_cache_age -->
        <div class="field">
          <label class="label" for="max_cache_age">Max cache age</label>
          <div class="control">
            <input class="input" type="text" name="max_cache_age" id="max_cache_age" value="{{ layer.get_max_cache_age() }}" required>
          </div>
          <p class="help is-info">Time must enter in seconds. The value of 0 means infinity</p>
        </div>

        <!-- published -->
        <div class="field">
          <label class="label" for="published">Published</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="published" id="published_true" value="true" {% if layer.published %}checked{% endif %}>
              True
            </label>
            <label class="radio">
              <input type="radio" name="published" id="published_false" value="false" {% if !layer.published %}checked{% endif %}>
              False
            </label>
          </div>

        </div>

        <div class="field">
          <div class="control has-text-centered">
            <button class="button is-fullwidth is-link">Update Layer</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  document.addEventListener('htmx:afterSwap', function(event) {
    var target = event.detail.target;

    if (target.id === 'fields') {
      var schemaValue = document.querySelector('[name="schema"]').value;
      var tableValue = document.querySelector('[name="table"]').value;
      var geomValue = document.querySelector('[name="geom"]').value;
      var url = '/admin/database/srid?schema=' + encodeURIComponent(schemaValue) + '&table=' + encodeURIComponent(tableValue) + '&geometry=' + encodeURIComponent(geomValue);

      fetch(url)
        .then(response => {
          if (!response.ok) {
            throw new Error('Error al cargar SRID');
          }
          return response.json();
        })
        .then(data => {
          document.querySelector('[name="srid"]').value = data;
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  });
</script>
{% endblock %}
