{% extends "admin/layout_admin.html" %} {% block admin_content %}

<div class="flex justify-start items-center">
  <a href="/admin/catalog" class="button space-x-2">
    <span class="icon is-small">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span>{{ base.translate["back"] }}</span>
  </a>
</div>

<div class="max-w-3xl w-full mx-auto px-6">
  <div class="box">
    <h1 class="title mb-6 text-center">{{ base.translate["new-layer"] }}</h1>

    <form action="/admin/catalog/layers/create" method="post">
      <input type="hidden" name="id" id="id" value="" />

      <!--Category-->
      <div class="mb-4">
        <label class="label" for="category">{{ base.translate["category"] }}</label>
        <div class="mt-1">
          <div class="select">
            <select name="category" id="category" class="input">
              {% for category in categories %}
              <option value="{{ category.id }}">{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- geometry -->
      <div class="mb-4">
        <label class="label" for="geometry">{{ base.translate["geometry"] }}</label>
        <div class="mt-1">
          <div class="select">
            <select name="geometry" id="geometry" class="input">
              <option value="points">{{ base.translate["points"] }}</option>
              <option value="lines">{{ base.translate["lines"] }}</option>
              <option value="polygons">{{ base.translate["polygons"] }}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- name -->
      <div class="mb-4">
        <label class="label" for="name">{{ base.translate["name"] }}</label>
        <div class="mt-1">
          <input class="input" type="text" name="name" id="name" required />
        </div>
      </div>

      <!-- alias -->
      <div class="mb-4">
        <label class="label" for="alias">{{ base.translate["alias"] }}</label>
        <div class="mt-1">
          <input class="input" type="text" name="alias" id="alias" required />
        </div>
      </div>

      <!-- description -->
      <div class="mb-4">
        <label class="label" for="description">{{ base.translate["description"] }}</label>
        <div class="mt-1">
          <textarea
            class="textarea"
            name="description"
            id="description"
            rows="4"
          ></textarea>
        </div>
      </div>

      <!-- schema -->
      <div class="mb-4">
        <label class="label" for="schema">{{ base.translate["schema"] }}</label>
        <div class="mt-1">
          <div
            class="select"
            hx-get="/admin/database/schemas"
            hx-swap="innerHTML"
            hx-trigger="load"
          ></div>
        </div>
      </div>

      <!-- table -->
      <div class="mb-4">
        <label class="label" for="table">{{ base.translate["table"] }}</label>
        <div class="mt-1">
          <div class="select">
            <select
              name="table"
              id="table"
              class="input"
              hx-get="/admin/database/fields"
              hx-target="#fields"
              hx-trigger="change"
              hx-include="[name='schema']"
              required
            ></select>
          </div>
        </div>
      </div>

      <!-- fields -->
      <div class="mb-4">
        <label class="label" for="fields">{{ base.translate["fields"] }}</label>
        <div class="mt-1">
          <div class="select is-multiple">
            <select
              name="fields"
              id="fields"
              multiple
              size="8"
              required
            ></select>
          </div>
        </div>
      </div>

      <button type="button" onclick="moveUp()">⬆️ {{ base.translate["up"] }}</button>
      <button type="button" onclick="moveDown()">⬇️ {{ base.translate["down"] }}</button>

      <!-- geom -->
      <div class="mb-4">
        <label class="label" for="geom">{{ base.translate["geom"] }}</label>
        <div class="mt-1">
          <input
            class="input"
            type="text"
            name="geom"
            id="geom"
            value="geom"
            required
          />
        </div>
      </div>

      <!-- srid -->
      <div class="mb-4">
        <label class="label" for="srid">{{ base.translate["srid"] }}</label>
        <div class="mt-1">
          <input
            class="input"
            type="text"
            name="srid"
            id="srid"
            value="4326"
            required
          />
        </div>
      </div>

      <!-- sql_mode -->
      <div class="mb-4">
        <label class="label" for="sql_mode">{{ base.translate["sql-mode"] }}</label>
        <div class="mt-1">
          <div class="select">
            <select name="sql_mode" id="sql_mode" class="input">
              <option value="CTE">Common Table Expression</option>
              <option value="SQ">Subquery</option>
            </select>
          </div>
        </div>
      </div>

      <!-- filter -->
      <div class="mb-4">
        <label class="label" for="filter">{{ base.translate["filter"] }}</label>
        <div class="mt-1">
          <textarea
            class="textarea"
            name="filter"
            id="filter"
            rows="3"
          ></textarea>
        </div>
      </div>

      <!-- buffer -->
      <div class="mb-4">
        <label class="label" for="buffer">{{ base.translate["buffer"] }}</label>
        <div class="mt-1">
          <input
            class="input"
            type="buffer"
            name="buffer"
            id="buffer"
            value="256"
            required
          />
        </div>
      </div>

      <!-- extent -->
      <div class="mb-4">
        <label class="label" for="extent">{{ base.translate["extent"] }}</label>
        <div class="mt-1">
          <input
            class="input"
            type="text"
            name="extent"
            id="extent"
            value="4096"
            required
          />
        </div>
      </div>

      <!-- zmin -->
      <div class="mb-4">
        <label class="label" for="zmin">{{ base.translate["zmin"] }}</label>
        <div class="mt-1">
          <input
            class="input"
            type="text"
            name="zmin"
            id="zmin"
            value="0"
            required
          />
        </div>
      </div>

      <!-- zmax -->
      <div class="mb-4">
        <label class="label" for="zmin">{{ base.translate["zmax"] }}</label>
        <div class="mt-1">
          <input
            class="input"
            type="text"
            name="zmax"
            id="zmax"
            value="22"
            required
          />
        </div>
      </div>

      <!-- zmax_do_not_simplify -->
      <div class="mb-4">
        <label class="label" for="zmax_do_not_simplify"
          >{{ base.translate["zmax-change-buffer-extent"] }}</label
        >
        <div class="mt-1">
          <input
            class="input"
            type="text"
            name="zmax_do_not_simplify"
            id="zmax_do_not_simplify"
            value="16"
            required
          />
        </div>
      </div>

      <!-- buffer_do_not_simplify -->
      <div class="mb-4">
        <label class="label" for="buffer_do_not_simplify"
          >{{ base.translate["buffer-higher-zoom"] }}</label
        >
        <div class="mt-1">
          <input
            class="input"
            type="text"
            name="buffer_do_not_simplify"
            id="buffer_do_not_simplify"
            value="256"
            required
          />
        </div>
      </div>

      <!-- extent_do_not_simplify -->
      <div class="mb-4">
        <label class="label" for="extent_do_not_simplify"
          >{{ base.translate["extent-higher-zoom"] }}</label
        >
        <div class="mt-1">
          <input
            class="input"
            type="text"
            name="extent_do_not_simplify"
            id="extent_do_not_simplify"
            value="4096"
            required
          />
        </div>
      </div>

      <!-- clip_geom -->
      <div class="mb-4">
        <label class="label" for="clip_geom">{{ base.translate["clip-geom"] }}</label>
        <div class="mt-1">
          <label class="radio">
            <input
              type="radio"
              name="clip_geom"
              id="clip_geom_true"
              value="true"
              checked
            />
            {{ base.translate["yes"] }}
          </label>
          <label class="radio">
            <input
              type="radio"
              name="clip_geom"
              id="clip_geom_false"
              value="false"
            />
            {{ base.translate["no"] }}
          </label>
        </div>
      </div>

      <!-- delete_cache_on_start -->
      <div class="mb-4">
        <label class="label" for="delete_cache_on_start">{{ base.translate["delete-cache-on-start"] }}</label
        >
        <div class="mt-1">
          <label class="radio">
            <input
              type="radio"
              name="delete_cache_on_start"
              id="delete_cache_on_start_true"
              value="true"
            />
            {{ base.translate["yes"] }}
          </label>
          <label class="radio">
            <input
              type="radio"
              name="delete_cache_on_start"
              id="delete_cache_on_start_false"
              value="false"
              checked
            />
            {{ base.translate["no"] }}
          </label>
        </div>
      </div>

      <!-- max_cache_age -->
      <div class="mb-4">
        <label class="label" for="max_cache_age">{{ base.translate["max-cache-age"] }}</label>
        <div class="mt-1">
          <input
            class="input"
            type="text"
            name="max_cache_age"
            id="max_cache_age"
            value="0"
            required
          />
        </div>
        <p class="help is-info">
          {{ base.translate["info-time-in-seconds"] }}. {{ base.translate["info-value-infinity"] }}
        </p>
      </div>

      <!-- max_records -->
      <div class="mb-4">
        <label class="label" for="max_cache_age">{{ base.translate["max-records"] }}</label>
        <div class="mt-1">
          <input
            class="input"
            type="text"
            name="max_records"
            id="max_records"
            value="0"
            required
          />
        </div>
        <p class="help is-info">
          {{ base.translate["info-max-records"] }}
        </p>
      </div>

      <!-- published -->
      <div class="mb-4">
        <label class="label" for="published">{{ base.translate["published"] }}</label>
        <div class="mt-1">
          <label class="radio">
            <input
              type="radio"
              name="published"
              id="published_true"
              value="true"
              checked
            />
            {{ base.translate["yes"] }}
          </label>
          <label class="radio">
            <input
              type="radio"
              name="published"
              id="published_false"
              value="false"
            />
            {{ base.translate["no"] }}
          </label>
        </div>
      </div>

      <div class="mb-4">
        <label class="label" for="fields">{{ base.translate["allowed-groups"] }}</label>
        <div class="mt-1">
          <div class="select is-multiple">
            <select name="groups" id="groups" multiple size="8">
              {% for group in groups %}
              <option value="{{ group.name }}">{{ group.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <p class="help is-info">{{ base.translate["info-empty-allowed-groups"] }}.</p>
      </div>

      <div class="mb-4">
        <div class="flex justify-center items-center">
          <button class="button__outline">{{ base.translate["create-layer"] }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>


  document.addEventListener("htmx:afterSwap", function (event) {
    var target = event.detail.target;

    if (target.id === "fields") {
      var schemaValue = document.querySelector('[name="schema"]').value;
      var tableValue = document.querySelector('[name="table"]').value;
      var geomValue = document.querySelector('[name="geom"]').value;
      var url =
        "/admin/database/srid?schema=" +
        encodeURIComponent(schemaValue) +
        "&table=" +
        encodeURIComponent(tableValue) +
        "&geometry=" +
        encodeURIComponent(geomValue);

      fetch(url)
        .then((response) => {
          if (!response.ok) {
            throw new Error("Error al cargar SRID");
          }
          return response.json();
        })
        .then((data) => {
          document.querySelector('[name="srid"]').value = data;
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  });
</script>
{% endblock %}
