{% extends "admin/layout_admin.html" %} {% block admin_content %}

<div class="flex justify-start items-center">
  <a href="/admin/groups" class="button space-x-2">
    <span class="icon is-small">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span>Back</span>
  </a>
</div>

<div class="max-w-3xl w-full mx-auto px-6">
  <div class="box">
    <h1 class="title mb-6 text-center">Edit Group {{ group.name }}</h1>

    <form action="/admin/groups/update" method="post">
      <div class="mb-4">
        <label class="label">ID</label>
        <div class="control">
          <input
            class="input"
            name="id"
            type="text"
            placeholder="ID"
            value="{{ group.id }}"
            readonly
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="label">Name</label>
        <div class="control">
          <input
            class="input"
            name="name"
            type="text"
            placeholder="Name"
            value="{{ group.name }}"
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="label">Description</label>
        <div class="control">
          <input
            class="input"
            name="description"
            type="text"
            placeholder="Description"
            value="{{ group.description }}"
          />
        </div>
      </div>
      <div class="mb-4">
        <div class="flex justify-center items-center">
          <button class="button__outline is-fullwidth">Update Group</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
