{% extends "layout.html" %} {% block content %}
<h1 class="title text-center mb-4">List of Styles</h1>

<div class="flex justify-between items-center">
  <div class="flex space-x-3">
    <input
      id="filter"
      type="text"
      class="input"
      placeholder="Filter..."
      hx-get="/styletable"
      hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
      hx-target="#table-style"
      hx-vals='js:{"filter": document.getElementById("filter").value}'
    />
    <button
      class="button"
      hx-get="/styletable"
      hx-target="#table-style"
      hx-vals='js:{"filter": document.getElementById("filter").value}'
    >
      <span class="icon__small">
        <i class="fas fa-search"></i>
      </span>
    </button>
    <button
      class="button"
      hx-get="/styletable"
      hx-target="#table-style"
      hx-on:click="document.getElementById('filter').value=''"
    >
      <span class="icon__small">
        <i class="fas fa-backspace"></i>
      </span>
    </button>
  </div>
</div>

<div
  id="table-style"
  hx-get="/styletable"
  hx-swap="innerHTML"
  hx-trigger="load"
  class="mt-4"
></div>

{% endblock %} {% block scripts %}
<script>
  document.addEventListener("htmx:afterOnLoad", initializePage);
</script>
{% endblock %}
