<div class="overflow-auto mt-4 rounded-lg">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">{{ translate["category"] }}</th>
        <th scope="col">{{ translate["name"] }}</th>
        <th scope="col">{{ translate["description"] }}</th>
        <th scope="col">Url</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for style in styles %}
      <tr>
        <td>
          <span class="font-semibold">{{ style.category.name }}</span>
        </td>
        <td>{{ style.name }}</td>
        <td>{{ style.description }}</td>
        <td class="text-blue-500">
          <span id="url-{{ style.category.name }}:{{ style.name }}">
            <span class="server"></span>/services/styles/{{ style.category.name
            }}:{{ style.name }}
          </span>
        </td>
        <td class="text-right">
          <div class="flex justify-end space-x-2">
            <button
              title="{{ translate["copy"] }}"
              class="button"
              onclick="copyToClipboard('url-{{ style.category.name }}:{{ style.name }}')"
            >
              <span class="icon">
                <i class="fas fa-copy"></i>
              </span>
            </button>
            {% if style.is_map() %}
              <a
                href="/mapview/{{ style.id }}"
                class="button"
                title="{{ translate["map"] }}"
                target="_blank"
              >
                <span class="icon">
                  <i class="fas fa-map"></i>
                </span>
              </a>
              <a
                href="/services/legends/{{ style.category.name }}:{{ style.name }}?has_label=true"
                class="button"
                title="{{ translate["legends"] }}"
                target="_blank"
              >
                <span class="icon">
                  <i class="fas fa-map-signs"></i>
                </span>
              </a>
            {% else %}
              <a
                class="button__outline flex items-center space-x-2 text-gray-500 cursor-not-allowed opacity-50"
                href="javascript:void(0)"
                aria-disabled="true"
                tabindex="-1"
              >
                <span class="icon">
                  <i class="fas fa-map"></i>
                </span>
              </a>
              <a
                class="button__outline flex items-center space-x-2 text-gray-500 cursor-not-allowed opacity-50"
                href="javascript:void(0)"
                aria-disabled="true"
                tabindex="-1"
              >
                <span class="icon">
                  <i class="fas fa-map-signs"></i>
                </span>
              </a>
            {% endif %}
          {% if let Some(current_user) = self.current_user %}
            {% if current_user.is_admin() %}
              <a href="/admin/styles/edit/{{ style.id }}" class="button"
                title="{{ translate["edit"] }}"
              >
                <span class="icon">
                <i class="fas fa-pen"></i>
                </span>
              </a>
              <a
                href="/admin/styles/delete/{{ style.id }}"
                class="button danger"
                title="{{ translate["delete"] }}"
                onclick="return confirm('Are you sure you want to delete this style?');"
              >
                <span class="icon">
                <i class="fas fa-trash"></i>
                </span>
              </a>
            {% endif %}
          {% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
