{% extends "admin/layout_admin.html" %} {% block admin_content %}

<div class="flex justify-start items-center mb-6">
  <a href="/admin/users" class="button space-x-2">
    <span class="icon__small">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span>{{ base.translate["back"] }}</span>
  </a>
</div>

<div class="max-w-3xl w-full mx-auto px-6">
  <div class="box">
    <h1 class="mb-3 title text-center">
      {{ base.translate["edit-user"] }} {{ user.username }}
    </h1>

    <form action="/admin/users/update" method="post">
      <div class="mb-4">
        <label class="label">ID</label>
        <div class="mt-1">
          <input
            class="input"
            name="id"
            type="text"
            placeholder="ID"
            value="{{ user.id }}"
            readonly
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="label">{{ base.translate["username"] }}</label>
        <div class="mt-1">
          <input
            class="input"
            name="username"
            type="text"
            placeholder="{{ base.translate["username"] }}"
            value="{{ user.username }}"
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="label">{{ base.translate["email"] }}</label>
        <div class="mt-1">
          <input
            class="input"
            name="email"
            type="email"
            placeholder="{{ base.translate["email"] }}"
            value="{{ user.email }}"
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="label">{{ base.translate["password"] }}</label>
        <div class="mt-1">
          <input
            class="input"
            name="password"
            type="password"
            placeholder="{{ base.translate["password"] }}"
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="label" for="fields">{{ base.translate["groups"] }}</label>
        <div class="mt-1">
          <div class="select is-multiple">
            <select name="groups" id="groups" multiple size="8" required>
              {% for group in groups %} {% if
              user.groups_as_vec_string().contains(group.name) %}
              <option value="{{group.name}}" selected>{{group.name}}</option>
              {% else %}
              <option value="{{group.name}}">{{group.name}}</option>
              {% endif %} {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <div class="flex justify-center items-center">
          <button class="button__outline">{{ base.translate["update-user"] }}</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
