{% extends "admin/layout_admin.html" %}


{% block admin_content %}

  <div class="flex justify-start items-center mb-6">
    <a href="/admin/users" class="button space-x-2">
      <span class="icon__small">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span>Back</span>
    </a>
  </div>

  <div class="max-w-3xl w-full mx-auto px-6">
    <div class="box">

      <h1 class="mb-3 title text-center">New User</h1>

      <form action="/admin/users/create" method="post">
        <div class="mb-4">
          <label class="label">Username</label>
          <div class="mt-1">
            <input class="input" name="username" type="text" placeholder="Username">
          </div>
        </div>
        <div class="mb-4">
          <label class="label">Email</label>
          <div class="mt-1">
            <input class="input" name="email" type="email" placeholder="Email">
          </div>
        </div>
        <div class="mb-4">
          <label class="label">Password</label>
          <div class="mt-1">
            <input class="input" name="password" type="password" placeholder="Password">
          </div>
        </div>
        <div class="mb-4">
          <label class="label" for="fields">Groups</label>
          <div class="mt-1">
            <div class="select">
              <select name="groups" id="groups" multiple size="8" required>
                {% for group in groups %}
                  <option value="{{ group.name }}">{{ group.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <div class="flex justify-center items-center">
            <button class="button__outline">Create User</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
