{% extends "layout.html" %}

{% block content %}
  <!-- <h3 class="title is-3">MVT-RS Server</h3> -->
  <!-- <h4 class="title is-4">Admin - New User</h4> -->


  <div class="has-text-left">
    <a href="/admin/catalog" class="button is-light">
      <span class="icon is-small">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span>Back</span>
    </a>
  </div>
  <div class="mb-6 columns is-centered">
    <div class="column is-three-quarters">

      <h1 class="mb-6 title is-5 has-text-grey-darker">Edit Layer "{{ layer.alias }}"</h1>

      <form action="/admin/catalog/layers/update" method="post">
        <!-- geometry -->
        <div class="field">
          <label class="label" for="geometry">Geometry</label>
          <div class="control">
            <div class="select">
              <select name="geometry" id="geometry">
                <option value="points" {% if layer.geometry == "points" %}selected{% endif %}>Points</option>
                <option value="lines" {% if layer.geometry == "lines" %}selected{% endif %}>Lines</option>
                <option value="polygons" {% if layer.geometry == "polygons" %}selected{% endif %}>Polygons</option>
              </select>
            </div>
          </div>
        </div>

        <!-- name -->
        <div class="field">
          <label class="label" for="name">Name</label>
          <div class="control">
            <input class="input" type="text" name="name" id="name" value="{{ layer.name }}">
          </div>
        </div>

        <!-- alias -->
        <div class="field">
          <label class="label" for="alias">Alias</label>
          <div class="control">
            <input class="input" type="text" name="alias" id="alias" value="{{ layer.alias }}">
          </div>
        </div>

        <!-- schema -->
        <div class="field">
          <label class="label" for="schema">Schema</label>
          <div class="control">
            <input class="input" type="text" name="schema" id="schema" value="{{ layer.schema }}">
          </div>
        </div>

        <!-- table -->
        <div class="field">
          <label class="label" for="table">Table</label>
          <div class="control">
            <input class="input" type="text" name="table" id="table" value="{{ layer.table }}">
          </div>
        </div>

        <!-- fields -->
        <div class="field">
          <label class="label" for="fields">Fields</label>
          <div class="control">
            <input class="input" type="text" name="fields" id="fields" value="{{ layer.fields.join(", ") }}">
          </div>
        </div>

        <!-- geom -->
        <div class="field">
          <label class="label" for="geom">Geom</label>
          <div class="control">
            <input class="input" type="text" name="geom" id="geom" value="{{ layer.get_geom() }}">
          </div>
        </div>

        <!-- filter -->
        <div class="field">
          <label class="label" for="filter">Filter</label>
          <div class="control">
            <input class="input" type="text" name="filter" id="filter" value="{{ layer.get_filter() }}">
          </div>
        </div>

        <!-- srid -->
        <div class="field">
          <label class="label" for="srid">SRID</label>
          <div class="control">
            <input class="input" type="text" name="srid" id="srid" value="{{ layer.get_srid() }}">
          </div>
        </div>

        <!-- buffer -->
        <div class="field">
          <label class="label" for="buffer">Buffer</label>
          <div class="control">
            <input class="input" type="buffer" name="buffer" id="buffer" value="{{ layer.get_buffer() }}">
          </div>
        </div>

        <!-- extent -->
        <div class="field">
          <label class="label" for="extent">Extent</label>
          <div class="control">
            <input class="input" type="text" name="extent" id="extent" value="{{ layer.get_extent() }}">
          </div>
        </div>

        <!-- zmin -->
        <div class="field">
          <label class="label" for="zmin">ZMin</label>
          <div class="control">
            <input class="input" type="text" name="zmin" id="zmin" value="{{ layer.get_zmin() }}">
          </div>
        </div>

        <!-- zmax -->
        <div class="field">
          <label class="label" for="zmin">ZMax</label>
          <div class="control">
            <input class="input" type="text" name="zmax" id="zmax" value="{{ layer.get_zmax() }}">
          </div>
        </div>

        <!-- zmax_do_not_simplify -->
        <div class="field">
          <label class="label" for="zmax_do_not_simplify">ZMax do not simplify</label>
          <div class="control">
            <input class="input" type="text" name="zmax_do_not_simplify" id="zmax_do_not_simplify" value="{{ layer.get_zmax_do_not_simplify() }}">
          </div>
        </div>

        <!-- buffer_do_not_simplify -->
        <div class="field">
          <label class="label" for="buffer_do_not_simplify">Buffer do not simplify</label>
          <div class="control">
            <input class="input" type="text" name="buffer_do_not_simplify" id="buffer_do_not_simplify" value="{{ layer.get_buffer_do_not_simplify() }}">
          </div>
        </div>

        <!-- extent_do_not_simplify -->
        <div class="field">
          <label class="label" for="extent_do_not_simplify">Extent do not simplify</label>
          <div class="control">
            <input class="input" type="text" name="extent_do_not_simplify" id="extent_do_not_simplify" value="{{ layer.get_extent_do_not_simplify() }}">
          </div>
        </div>

        <!-- clip_geom -->
        <div class="field">
          <label class="label" for="clip_geom">Clip Geom</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="clip_geom" id="clip_geom_true" value="true" {% if layer.get_clip_geom() %}checked{% endif %}>
              True
            </label>
            <label class="radio">
              <input type="radio" name="clip_geom" id="clip_geom_false" value="false" {% if !layer.get_clip_geom() %}checked{% endif %}>
              False
            </label>
          </div>
        </div>

        <!-- delete_cache_on_start -->
        <div class="field">
          <label class="label" for="delete_cache_on_start">Delete cache on start</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="delete_cache_on_start" id="delete_cache_on_start_true" value="true" {% if layer.get_delete_cache_on_start() %}checked{% endif %}>
              True
            </label>
            <label class="radio">
              <input type="radio" name="delete_cache_on_start" id="delete_cache_on_start_false" value="false" {% if !layer.get_delete_cache_on_start() %}checked{% endif %}>
              False
            </label>
          </div>
        </div>

        <!-- max_cache_age -->
        <div class="field">
          <label class="label" for="max_cache_age">Max cache age</label>
          <div class="control">
            <input class="input" type="text" name="max_cache_age" id="max_cache_age" value="{{ layer.get_max_cache_age() }}">
          </div>
          <p class="help is-info">Time must enter in seconds. The value of 0 means infinity</p>
        </div>

        <!-- published -->
        <div class="field">
          <label class="label" for="published">Published</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="published" id="published_true" value="true" {% if layer.published %}checked{% endif %}>
              True
            </label>
            <label class="radio">
              <input type="radio" name="published" id="published_false" value="false" {% if !layer.published %}checked{% endif %}>
              False
            </label>
          </div>

        </div>

        <div class="field">
          <div class="control has-text-centered">
            <button class="button is-fullwidth is-link">Update Layer</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
