{% extends "layout_admin.html" %}

{% block admin_content %}

  <h1 class="title is-5 mb-3 has-text-grey-darker">Welcome</h1>

  <aside class="menu mb-6">
    <p class="menu-label">
      In this section, you can manage your app, including:
    </p>
    <ul class="menu-list">
      <li><a>Users: You can create, edit and delete users.</a></li>
      <li><a>Layers: You can create, edit and delete layers.</a></li>
    </ul>
   </aside>

  <div class="has-text-centered">
    <img src="/static/images/logo.png" class="has-ratio" width="300">
  </div>



{% endblock %}
