{% extends "layout_admin.html" %}

{% block admin_content %}
  <h1 class="title is-5 has-text-grey-darker">List Users</h1>

  <div class="has-text-right">
    <a href="/admin/newuser" class="button is-light">
      <span class="icon is-small">
        <i class="fas fa-user-plus"></i>
      </span>
      <span>Add User</span>
    </a>
  </div>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>
            <span class="has-text-weight-semibold">{{ user.username }}</span>
          </td>
          <td>
            {{ user.email }}
          </td>
          <td class="has-text-right">
            <a href="" class="button is-small is-dark">
              <span class="icon is-small">
                <i class="fas fa-pen"></i>
              </span>
            </a>
            <a href="" class="button is-small is-danger">
              <span class="icon is-small">
                <i class="fas fa-trash"></i>
              </span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
