{% extends "admin/layout_admin.html" %} {% block admin_content %}

<div class="flex justify-start items-center">
  <a href="/admin/categories" class="button space-x-2">
    <span class="icon is-small">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span>{{ base.translate["back"] }}</span>
  </a>
</div>

<div class="max-w-3xl w-full mx-auto px-6">
  <div class="box">
    <h1 class="title mb-6 text-center">{{ base.translate["new-category"] }}</h1>

    <form action="/admin/categories/create" method="post">
      <div class="mb-4">
        <label class="label">{{ base.translate["name"] }}</label>
        <div class="mt-1">
          <input class="input" name="name" type="text" placeholder="{{ base.translate["name"] }}" />
        </div>
      </div>
      <div class="mb-4">
        <label class="label">{{ base.translate["description"] }}</label>
        <div class="mt-1">
          <input
            class="input"
            name="description"
            type="text"
            placeholder="{{ base.translate["description"] }}"
          />
        </div>
      </div>

      <div class="mb-4">
        <div class="flex justify-center items-center">
          <button class="button__outline">{{ base.translate["create-category"] }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
