<style>
.layers-toggle-btn {
  background-color: white !important;
  border: 1px solid #666;
}
</style>

<script>
  let map = new maplibregl.Map({
    container: 'map',
    style: JSON.parse('{{ style.style|safe }}')
  });

  let zoomLevelElement = document.getElementById('zoom-level');
  let centerElement = document.getElementById('center');
  zoomLevelElement.innerText = '';
  centerElement.innerText = '';

  const setZoomAndCenter = () => {
    let currentZoom = map.getZoom().toFixed(1);
    zoomLevelElement.innerText = currentZoom;
    let currentCenter = map.getCenter();
    centerElement.innerText = `${currentCenter.lng.toFixed(5)}, ${currentCenter.lat.toFixed(5)}`;
  };

  map.on('load', function () {
    map.addControl(
      new maplibregl.NavigationControl({
        visualizePitch: true,
        showZoom: true,
        showCompass: true
      })
    );

    map.on('zoom', function () {
      setZoomAndCenter();
    });

    map.on('move', function () {
      setZoomAndCenter();
    });
    setZoomAndCenter();
  });

  setTimeout(() => {
    const style_name = '{{ style.name }}'
    const style_category = '{{ style.category.name }}'

    const base = window.location.protocol + "//" + window.location.host;
    const url_legends = `${base}/services/legends/${style_category}:${style_name}`;

    const style = map.getStyle()
    if (style.metadata && style.metadata.baseLayers && style.metadata.overLayers) {
      let layersControl = new LayersControl({
        baseLayers: style.metadata.baseLayers,
        overLayers: style.metadata.overLayers,
        legendServiceUrl: url_legends,
        opacityControl: true,
      });
      map.addControl(layersControl, "bottom-left");
    }
  }, 100);
</script>
