{% extends "layout.html" %}

{% block content %}
  <h1 class="title is-4">Catalog of published layers</h1>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Alias</th>
        <th scope="col">Table</th>
        <th scope="col">URL</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for layer in layers %}
        <tr>
          <td>
            <span class="icon is-small has-text-info">
              {% if layer.geometry == "polygons" %}
                <i class="fas fa-draw-polygon"></i>
              {% else if layer.geometry == "lines" %}
                <i class="fas fa-minus"></i>
              {% else %}
                <i class="fas fa-circle"></i>
              {% endif %}
            </span>
          </td>
          <td>{{ layer.alias }}</td>
          <td>{{ layer.schema }}.{{ layer.table }}</td>
          <td class="has-text-info">
            <span class="server"></span>/tiles/{{ layer.name }}/{z}/{x}/{y}.pbf
          </td>
          <td class="has-text-right">

            <a href="/map/{{ layer.name }}" class="button is-small is-dark" target="_blank">
              <span class="icon is-small">
                <i class="fas fa-map"></i>
              </span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
<script>
    function initializePage() {
      var protocol = window.location.protocol;
      var host = window.location.hostname;
      var port = window.location.port;

      if (port === '') {
        port = protocol === 'https:' ? '443' : '80';
      }

      var servers = document.getElementsByClassName("server");
      for (var i = 0; i < servers.length; i++) {
        servers[i].textContent = `${protocol}//${host}:${port}`;
      }
    }

    document.addEventListener('DOMContentLoaded', initializePage);
</script>
{% endblock %}
