{% extends "layout.html" %}

{% block content %}

<div class="flex justify-center items-center">
  <div class="text-center max-w-2xl px-6">
    <h1 class="text-3xl font-bold">{{ base.translate["welcome"] }}  (version {{ version }})</h1>
    <p class="mt-2 text-lg text-gray-700">

      {{ base.translate["index-subtitle"] }}
    </p>

    <div class="mt-6 text-left">
      <h2 class="text-xl font-semibold">{{ base.translate["mvt-you-can"] }}:</h2>
      <ul class="mt-2 list-disc list-inside text-gray-600">
        <li>{{ base.translate["feature-1"] }}</li>
        <li>{{ base.translate["feature-2"] }}</li>
        <li>{{ base.translate["feature-3"] }}</li>
        <li>{{ base.translate["feature-4"]|safe }}</li>
      </ul>
    </div>

    <p class="mt-6 text-lg text-gray-700">
    Explore the available layers in the <span class="font-semibold">"{{ base.translate["catalog"] }}"</span> menu and customize their appearance in the <span class="font-semibold">"{{ base.translate["styles"] }}"</span> section.
    </p>

    <div class="mt-8 flex justify-center">
      <img src="/static/images/fondo_azul.webp" alt="mvt sserver Logo" class="w-1/2 rounded-lg shadow-md" />
    </div>
  </div>
</div>

{% endblock %}
