<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVT-Server</title>
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>

  <!-- Include JSONEditor library -->
  <link href="https://cdn.jsdelivr.net/npm/jsoneditor@latest/dist/jsoneditor.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/jsoneditor@latest/dist/jsoneditor.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/style.css">
  {% block head %}{% endblock %}
</head>

<body>
  <header>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <figure class="navbar-item image">
            <img src="/static/images/mvtserver.png">
          </figure>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/catalog">Catalog</a>
            <a class="navbar-item" href="/styles">Styles</a>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if self.base.is_auth %}
              <a class="button is-outlined is-light" href="/admin">
                Admin
              </a>
              <a class="button is-outlined is-light" href="/changepassword">
                Password
              </a>
              <a class="button is-outlined is-light" href="/logout">
                Logout
              </a>
              {% else %}
              <a class="button is-outlined is-light" href="/login">
                Login
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main class="container is-max-widescreen mt-5 mb-6 p-4">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer has-background-dark fixed-footer py-2">
    <div class="content has-text-centered">
      <p class="has-text-grey-lighter">
        MVT-Server
      </p>
    </div>
  </footer>
  <script src="/static/js/mvt.js"></script>
  {% block scripts %}{% endblock %}

</body>

</html>
