<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVT_RS Server</title>

  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style>
    html {
      height: 100%;
    }

    body {
      min-height: 100vh;
    }

    .footer {
      margin-top: auto;
    }

    .fixed-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  </style>
  {% block head %}{% endblock %}
</head>

<body>
  <header>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">MVT-RS</a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/catalog">Catalog</a>
            <a class="navbar-item" href="/admin">Admin</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main class="container is-max-widescreen mt-5 mb-6">
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </main>

  <footer class="footer has-background-dark fixed-footer py-2">
    <div class="content has-text-centered">
      <p class="has-text-grey-lighter">
        MVT-RS
      </p>
    </div>
  </footer>
  <script src="/static/js/mvt.js"></script>

</body>

</html>
