<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mvt server</title>
    <link rel="icon" type="image/webp" href="/static/images/fondo_azul.webp" />
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/client-side-templates.js"></script>

    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <link rel="stylesheet" href="/static/css/fa.all.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    {% block head %}{% endblock %}
  </head>

  <body
    class="bg-gray-200 dark:bg-zinc-900 text-gray-900 dark:text-gray-100 min-h-screen flex flex-col"
  >
    <header>
      <nav class="navbar">
        <h1 class="text-2xl font-bold ">mvt server</h1>
        <div
          class="flex flex-row flex-wrap justify-center sm:justify-end items-center space-x-4"
        >
          <a href="/">Home</a>
          <a href="/catalog">Catalog</a>
          <a href="/styles">Styles</a>
        </div>
        <div
          class="flex flex-row flex-wrap justify-center sm:justify-end items-center space-x-4"
        >
          {% if self.base.is_auth %}
          <a class="button__outline" href="/admin"> Admin </a>
          <a class="button__outline" href="/changepassword"> Password </a>
          <a class="button__outline" href="/logout"> Logout </a>
          {% else %}
          <a class="button__outline" href="/login"> Login </a>
          {% endif %}
        </div>
      </nav>
    </header>

    <main class="p-4 flex-grow">{% block content %}{% endblock %}</main>

    <footer class="p-4 bg-zinc-800 text-white text-center">
      <p>&copy; 2025 mvt server</p>
    </footer>

    <script src="/static/js/mvt.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
