{% extends "layout.html" %} {% block content %}
<section class="h-[calc(100vh-165px)] flex items-center justify-center">
  <div class="max-w-3xl w-full mx-auto px-6">
    <div class="box">
      <h1 class="title text-3xl font-bold mb-6">{{ base.translate["login"] }}</h1>
      <form action="/auth/login" method="post">
        <div class="mb-4">
          <label class="block text-lg font-medium mb-2" for="email"
            >{{ base.translate["email"] }}</label
          >
          <div class="relative">
            <input
              class="input"
              type="email"
              name="email"
              required
            />
          </div>
        </div>
        <div class="mb-4">
          <label class="block text-lg font-medium mb-2" for="password"
            >{{ base.translate["password"] }}</label
          >
          <div class="relative">
            <input
              class="input"
              type="password"
              name="password"
              required
            />
          </div>
        </div>
        <div class="flex justify-end">
          <button class="button__outline ">{{ base.translate["login"] }}</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
