{% extends "layout.html" %}

{% block head %}
  <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />
  <script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
  <style>
    #map {
      height: 600px;
      width: 1000px;
      min-height: 0;
    }
  </style>
{% endblock %}

{% block content %}

  <section>
      <h3 class="title is-3">
        MVT-RS Server <span class="is-size-4 has-text-info">{{ alias }}</span>
      </h3>
      <div id="map"></div>
  </section>
{% endblock %}

{% block scripts %}
<script>

  var protocol = window.location.protocol;
  var host = window.location.hostname;
  var port = window.location.port;

  if (port === '') {
    port = protocol === 'https:' ? '443' : '80';
  }

  var paint;
  if ('{{ geometry}}' === 'circle') {
    paint = {
      'circle-radius': 5,
      'circle-color': '#0000FF'
    };
  } else if ('{{ geometry}}'  === 'line') {
    paint = {
      'line-width': 2,
      'line-color': '#0000FF'
    };
  } else if ('{{ geometry}}'  === 'fill') {
    paint = {
      'fill-opacity': 0.5,
      'fill-color': '#0000FF'
    };
  }

  var map = new maplibregl.Map({
    container: 'map',
    style: {
      "version": 8,
      "sources": {
        "osm": {
          "type": "raster",
          "tiles": ["https://a.tile.openstreetmap.org/{z}/{x}/{y}.png"],
          "tileSize": 256,
          "attribution": "&copy; OpenStreetMap Contributors",
          "maxzoom": 22
        },
      },
      "layers": [
        {
          "id": "osm",
          "type": "raster",
          "source": "osm"
        }
      ]
    },
    center: [0, 0], // starting position [lng, lat]
    zoom: 1
  });

  map.on('load', function () {
    map.addLayer({
      id: '{{ name }}',
      type: '{{ geometry }}',
      source: {
        type: 'vector',
        tiles: [`${protocol}//${host}:${port}/tiles/{{ name }}/{z}/{x}/{y}.pbf`],
        minzoom: 0,
        maxzoom: 22
      },
      'source-layer': '{{ name }}',
      paint: paint
    });

    map.addControl(
      new maplibregl.NavigationControl({
      visualizePitch: true,
      showZoom: true,
      showCompass: true
      })
    );
  });

</script>
{% endblock %}
