{% extends "layout.html" %}

{% block head %}
  <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />
  <script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
  <script src="https://www.unpkg.com/maplibre-gl-opacity@1.8.0/build/maplibre-gl-opacity.umd.js"></script>
  <link rel="stylesheet" href="https://www.unpkg.com/maplibre-gl-opacity@1.8.0/build/maplibre-gl-opacity.css"/>
{% endblock %}

{% block content %}
  <section>
      <div class="columns">
        <div class="column">
          <h1 class="title">{{ style.description }} </h1>
        </div>
        <div class="column has-text-right">
          <p>{{ base.translate["zoom-level"] }}: <span class="has-text-weight-bold" id="zoom-level"></span></p>
        </div>
      </div>

      <figure class="image">
        <div id="map" class="is-fullwidth is-fullheight"></div>
      </figure>
  </section>
{% endblock %}

{% block scripts %}
<script>
  let map = new maplibregl.Map({
    container: 'map',
    style: JSON.parse('{{ style.style|safe }}')
  });

  let zoomLevelElement = document.getElementById('zoom-level');
  zoomLevelElement.innerText = 1;


  map.on('load', function () {
    map.addControl(
      new maplibregl.NavigationControl({
      visualizePitch: true,
      showZoom: true,
      showCompass: true
      })
    );

    map.on('zoom', function () {
      let currentZoom = map.getZoom().toFixed(1);
      zoomLevelElement.innerText = currentZoom;
    });

    setTimeout(() => {
      const style = map.getStyle()
      if (style.metadata && style.metadata.baseLayers && style.metadata.overLayers) {
            let Opacity = new OpacityControl({
            baseLayers: style.metadata.baseLayers,
            overLayers: style.metadata.overLayers,
            opacityControl: true,
        });
        map.addControl(Opacity, 'top-left');
      }
    }, 100);
  });
</script>
{% endblock %}
