{% extends "layout.html" %}

{% block content %}
  <h1 class="title is-5 has-text-grey-darker">List of Styles</h1>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Url</th>
      </tr>
    </thead>
    <tbody>
      {% for style in styles %}
        <tr>
          <td>
            <span class="has-text-weight-semibold">{{ style.category.name }}</span>
          </td>
          <td>
            {{ style.name }}
          </td>
          <td>
            {{ style.description }}
          </td>
          <td class="has-text-info">
            <span><span class="server"></span>/services/styles/{{ style.category.name }}:{{ style.name }}</span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    document.addEventListener('DOMContentLoaded', initializePage);
  </script>
{% endblock %}
