{% extends "admin/layout_admin.html" %} {% block admin_content %}
<h1 class="title text-center mb-4">Catalog of registered layers</h1>

<div id="modal-configuration" class="modal">
  <div class="modal-card overflow-auto max-w-3xl w-full max-h-[calc(100vh-4rem)]">
    <header class="modal-header">
      <p class="font-bold text-1xl text-center">Configuration</p>
      <button class="modal-close" onclick="closeModal()">
        <span class="icon">
          <i class="fas fa-times"></i>
        </span>
      </button>
    </header>
    <section class="modal-body">
      <div id="data-json" class="overflow-y-auto"></div>
    </section>
  </div>
</div>

<div class="flex justify-between items-center">
  <div class="flex space-x-3">
    <input
      id="filter"
      type="text"
      class="input"
      placeholder="Filter..."
      hx-get="/catalogtable"
      hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
      hx-target="#table-catalog"
      hx-vals='js:{"filter": document.getElementById("filter").value}'
    />
    <button
      class="button"
      hx-get="/catalogtable"
      hx-target="#table-catalog"
      hx-vals='js:{"filter": document.getElementById("filter").value}'
    >
      <span class="icon__small">
        <i class="fas fa-search"></i>
      </span>
    </button>
    <button
      class="button"
      hx-get="/catalogtable"
      hx-target="#table-catalog"
      hx-on:click="document.getElementById('filter').value=''"
    >
      <span class="icon__small">
        <i class="fas fa-backspace"></i>
      </span>
    </button>
  </div>

  {% if current_user.is_admin() %}
  <div>
    <a href="/admin/catalog/layers/new" class="button space-x-2">
      <span class="icon is-small">
        <i class="fas fa-layer-group"></i>
      </span>
      <span>ADD LAYER</span>
    </a>
  </div>
  {% endif %}
</div>

<div
  id="table-catalog"
  hx-get="/catalogtable"
  hx-swap="innerHTML"
  hx-trigger="load"
  class="mt-4"
></div>

{% endblock %} {% block scripts %}
<script>
  document.addEventListener("htmx:afterOnLoad", initializePage);

  const closeModal = () => {
    document
      .getElementById("modal-configuration")
      .classList.remove("is-active");
  };
</script>
{% endblock %}
