{% extends "admin/layout_admin.html" %}

{% block admin_content %}
  <h1 class="title is-5 has-text-grey-darker">Catalog of registered layers</h1>

  <div id="modal-js-example" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Configuration</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div id="data-json"></div>
    </section>
    <footer class="modal-card-foot">
      <!-- <button class="button is-dark">Close</button> -->
    </footer>
  </div>
</div>

  <div class="has-text-right">
    {% if current_user.is_admin() %}
    <a href="/admin/catalog/layers/new" class="button is-light">
      <span class="icon is-small">
        <i class="fas fa-layer-group"></i>
      </span>
      <span>ADD LAYER</span>
    </a>
    {% endif %}
  </div>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Alias</th>
        <th scope="col">Table</th>
        <th scope="col">URL</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for layer in layers %}
        <tr>
          <td>
            <span class="icon is-small has-text-info">
              {% if layer.geometry == "polygons" %}
                <i class="fas fa-draw-polygon"></i>
              {% else if layer.geometry == "lines" %}
                <i class="fas fa-minus"></i>
              {% else %}
                <i class="fas fa-circle"></i>
              {% endif %}
            </span>
          </td>
          <td>{{ layer.alias }}</td>
          <td>{{ layer.schema }}.{{ layer.table }}</td>
          <td class="has-text-info">
            <span><span class="server"></span>/tiles/{{ layer.name }}/{z}/{x}/{y}.pbf</span>
          </td>
          <td class="has-text-right">
            <div class="is-flex is-justify-content-right">
              <button
                class="button is-white js-modal-trigger"
                data-target="modal-js-example"
                onclick="document.getElementById('data-json').innerHTML='{{ layer.info_html() }}';"
                >
                <span class="icon">
                  <i class="fas fa-cog"></i>
                </span>
              </button>

              {% if current_user.is_admin() %}

                {% if layer.published %}
                  <a href="/map/{{ layer.name }}" class="button is-white" target="_blank">
                    <span class="icon">
                      <i class="fas fa-map"></i>
                    </span>
                  </a>
                {% else %}
                  <a href="/map/{{ layer.name }}" class="button is-white is-static" target="_blank" disabled >
                    <span class="icon">
                      <i class="fas fa-map"></i>
                    </span>
                  </a>
                {% endif %}


                <a href="/admin/catalog/layers/edit/{{ layer.id }}" class="button is-white">
                  <span class="icon">
                    <i class="fas fa-pen"></i>
                  </span>
                </a>

                {% if layer.published %}
                  <a href="/admin/catalog/layers/swichpublished/{{ layer.id }}" class="button is-white">
                    <span class="icon">
                      <i class="far fa-check-square"></i>
                    </span>
                  </a>
                {% else %}
                  <a href="/admin/catalog/layers/swichpublished/{{ layer.id }}" class="button is-white">
                    <span class="icon">
                      <i class="far fa-square"></i>
                    </span>
                  </a>
                {% endif %}

                <a href="/admin/catalog/layers/delete/{{ layer.id }}" class="button is-danger is-outlined"
                  onclick="return confirm('Are you sure you want to delete this layer publication?');">
                  <span class="icon">
                    <i class="fas fa-trash"></i>
                  </span>
                </a>
              </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

 {% endblock %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Functions to open and close a modal
    function openModal($el) {
      $el.classList.add('is-active');
    }

    function closeModal($el) {
      $el.classList.remove('is-active');
    }

    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }

    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
      const $target = $close.closest('.modal');

      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });

    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
      if (event.code === 'Escape') {
        closeAllModals();
      }
    });
  });

  function initializePage() {
    var protocol = window.location.protocol;
    var host = window.location.hostname;
    var port = window.location.port;

    if (port === '') {
      port = protocol === 'https:' ? '443' : '80';
    }

    var servers = document.getElementsByClassName("server");
    for (var i = 0; i < servers.length; i++) {
      servers[i].textContent = `${protocol}//${host}:${port}`;
    }
  }

  document.addEventListener('DOMContentLoaded', initializePage);
</script>
{% endblock %}
