<div class="overflow-x-auto rounded-lg">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">{{ translate["category"] }}</th>
        <th scope="col">{{ translate["layer-name"] }}</th>
        <th scope="col">{{ translate["alias"] }}</th>

        {% if !is_guest_or_non_admin %}
          <th scope="col">{{ translate["table"] }}</th>
        {% endif %}
        <th scope="col">Source</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for layer in layers %}
      <tr>
        <td>
          <span class="icon__small text-blue-500">
            {% if layer.geometry == "polygons" %}
            <i class="fas fa-draw-polygon"></i>
            {% else if layer.geometry == "lines" %}
            <i class="fas fa-minus"></i>
            {% else %}
            <i class="fas fa-circle"></i>
            {% endif %}
          </span>
        </td>
        <td>{{ layer.category.name }}</td>
        <td>{{ layer.name }}</td>
        <td>{{ layer.alias }}</td>
        {% if !is_guest_or_non_admin %}
          <td>{{ layer.schema }}.{{ layer.table_name }}</td>
        {% endif %}
        <td class="text-blue-500">
          <span id="url-{{ layer.category.name }}:{{ layer.name }}">
            <span class="server"></span>/services/tiles/{{ layer.category.name
            }}:{{ layer.name }}/{z}/{x}/{y}.pbf
          </span>
        </td>
        <td class="text-right">
          <div class="flex justify-end space-x-2">
            <button
              title="Copy"
              class="button"
              onclick="copyToClipboard('url-{{ layer.category.name }}:{{ layer.name }}')"
            >
              <span class="icon">
                <i class="fas fa-copy"></i>
              </span>
            </button>
            {% if is_guest_or_non_admin %}
              {% if layer.published %}
                <a
                  href="/maplayer/{{ layer.category.name }}:{{ layer.name }}"
                  class="button"
                  title="Map"
                  target="_blank"
                >
                  <span class="icon">
                    <i class="fas fa-map"></i>
                  </span>
                </a>
              {% else %}
              <button
                disabled
                class="button"
              >
                <span class="icon">
                  <i class="fas fa-map"></i>
                </span>
              </button>
              {% endif %}
            {% endif %}

            {% if let Some(current_user) = self.current_user %}
              {% if current_user.is_admin() %}
                <button
                  class="button"
                  title="Info"
                  onclick='openModal("{{ layer.info_html() }}")'
                >
                  <span class="icon">
                    <i class="fas fa-cog"></i>
                  </span>
                </button>

                {% if layer.published %}
                  <a
                    href="/maplayer/{{ layer.category.name }}:{{ layer.name }}"
                    class="button"
                    target="_blank"
                    title="Map"
                  >
                    <span class="icon">
                      <i class="fas fa-map"></i>
                    </span>
                  </a>

                {% else %}
                  <a
                      class="button__outline flex items-center space-x-2 text-gray-500 cursor-not-allowed opacity-50"
                      href="javascript:void(0)"
                      aria-disabled="true"
                      tabindex="-1"
                    >
                    <span class="icon">
                      <i class="fas fa-map"></i>
                    </span>
                  </a>
                {% endif %}

                <a href="/admin/catalog/layers/edit/{{ layer.id }}" class="button" title="Edit">
                  <span class="icon">
                    <i class="fas fa-pen"></i>
                  </span>
                </a>

                {% if layer.published %}
                  <a
                    href="/admin/catalog/layers/swichpublished/{{ layer.id }}"
                    class="button"
                    title="Switch Published"
                  >
                    <span class="icon">
                      <i class="far fa-check-square"></i>
                    </span>
                  </a>
                {% else %}
                  <a
                    href="/admin/catalog/layers/swichpublished/{{ layer.id }}"
                    class="button"
                    title="Switch Published"
                  >
                    <span class="icon">
                      <i class="far fa-square"></i>
                    </span>
                  </a>
                {% endif %}

                <a
                  href="/admin/catalog/layers/delete_cache/{{ layer.id }}"
                  title="Delete Cache"
                  class="button"
                  onclick="return confirm('Are you sure you want to erase the cache for this layer?');"
                >
                  <span class="icon">
                    <i class="fas fa-eraser"></i>
                  </span>
                </a>
                <a
                  href="/admin/catalog/layers/delete/{{ layer.id }}"
                  class="button danger"
                  title="Delete"
                  onclick="return confirm('Are you sure you want to delete this layer publication?');"
                >
                  <span class="icon">
                    <i class="fas fa-trash"></i>
                  </span>
                </a>
              </div>
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
